<footer>
  <nav class="round">
    <ul>
      <li><%= link_to "About", about_path %> </li>
      <li><%= link_to "Contact", contact_path %> </li>
      <li><%= link_to "Other", '#' %> </li>
      <li><%= link_to "Other", '#' %> </li>
      <li><%= link_to "Other", '#' %> </li>
    </ul>
  </nav>
</footer>

